<!DOCTYPE html>

  <head>

  </head>

  <script type="text/javascript">
  $(document).ready(function() {
    $('div.pop').each(function() {
      $(this).qtip({
        content: $('#hide-' + $(this).attr('id')),
        style: {
          name: 'cream'
},        
        position: {
        corner: {
         target: 'topMiddle',
         tooltip: 'bottomLeft'
      }
},
        show: 'mouseover',
        hide: 'mouseout'

      });
    });
  });   
  </script>
<body>


  <div id="header">

    <ul class="accessibility">
      <li><a href="#navigation">Jump to Navigation</a></li>
    </ul>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'School Directory', schools_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Student Directory', students_path %></li>
        </ul>      
      </div>
    </div>
  </div>
<div id="page">

<div class="well">
<h2>Students</h2>
</div>

<div class="btn" id="newstudent">
<%= link_to 'New Student', new_student_path %>
</div>

<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Grade</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @students.each do |student| %>
  <tr>
    <td><%= link_to student.first_name, student %></td>
    <td><%= link_to student.last_name, student %></td>
    <td><%= student.date_of_birth %></td>
    <td><%= student.grade %></td>
    <td>
      <% if(student.school.nil?) then %>
        The student has no school to speak of.
      <% else %>
        <div id="<%= student.id %>" class="pop">    
            <%= link_to student.school.name, school_path(student.school.id) %>
        </div>
        <div id="hide-<%= student.id %>" class="hide">
        <%= student.school.phone %>
        <%= student.school.ssw %>
        </div>
      <% end %>
    </td>
    <td><%=  %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>

<br />

</div>




</body>

