<!DOCTYPE html>

  <head>


  </head>
  
<body>

  <div id="header">

    <ul class="accessibility">
      <li><a href="#navigation">Jump to Navigation</a></li>
    </ul>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'School Directory', schools_path %></li>
          <li><%= link_to 'Student Directory', students_path %></li>        
        </ul>      
      </div>
    </div>
  </div>
<div id="page">
<div id="title">
<h1>Students</h1>
</div>
<div class="btn" id="newstudent">
<%= link_to 'New Student', new_student_path %>
</div>

<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Grade</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.date_of_birth %></td>
    <td><%= student.grade %></td>
    <td><% if(student.school.nil?) then %>
    The student has no school to speak of.
  <% else %>
    <%= student.school.name %>
  <% end %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

</div>

</body>

