<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @student.date_of_birth %>
</p>

<p>
  <b>Grade:</b>
  <%= @student.grade %>
</p>

<p>
  <b>School:</b>
  <%= @student.school.name %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
