
  <div id="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'School Directory', schools_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Student Directory', students_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Reports", report_index_url %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Logout", logout_path %></li>
          <li class="divider-vertical"></li>
         <div id="userlogin"> <li><%= session[:username] %></li></div>
        </ul>      
      </div>
    </div>
  </div>

<div id="page" class="alert alert-info">
<p id="notice"><%= notice %></p>

<p class="lead">
  <b>First Name:</b>
  <%= @student.first_name %>
</p>

<p class="lead">
  <b>Last Name:</b>
  <%= @student.last_name %>
</p>

<p class="lead">
  <b>Date of Birth:</b>
  <%= @student.date_of_birth %>
</p>

<p class="lead">
  <b>Grade:</b>
  <%= @student.grade %>
</p>

<p class="lead">
  <b>School:</b>
  <% if(@student.school.nil?) then %>
    The student has no school to speak of.
  <% else %>
    <%= @student.school.name %>
  <% end %>
</p>
<div class="btn-group">
<div class="btn">
<%= link_to 'Edit', edit_student_path(@student) %>
</div>
<div class="btn">
<%= link_to 'Back', students_path %>
</div>
</div>
</div>
