<!DOCTYPE html>
<html>
<head>
</head>
<body>



  <div id="header">

    <ul class="accessibility">
      <li><a href="#navigation">Jump to Navigation</a></li>
    </ul>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'School Directory', schools_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Student Directory', students_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>      
      </div>
    </div>
  </div>

          <div class="hero-unit" id="head">
            <h1>Education Reference</h1>
            <h2>Public Schools</h2>
          </div>

 <div id="quicklinks">
<h3>Quick Links</h3>
<div class="btn-group btn-group-vertical">
<div class="btn btn-large" id="schoolbutton">
<%= link_to "Add a New School", new_school_path %>
</div>
<div class="btn btn-large">
<%= link_to "Add a New Student", new_student_path %>
</div>
</div>
</div>


<div id="search">
<h3>Search</h3>
<h4>For a School</h4>
<%= form_tag "schoolssearch", :method => 'get' do %>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil, :class=>'btn' %>  
<% end %>  
<h4>For a Student</h4>
<%= form_tag "studentssearch", :method => 'get' do %>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil,  :class=>'btn'  %>  
<% end %> 


</div>

<div id="footer">

</div>

</body>
</html>
