<!DOCTYPE html>

<div class="hero-unit" id="head">
<h1>Education Reference Guide</h1>
<h2>Public Schools</h2>
</div>


<div id="schoolsearch">
<h3>Search for a School</h3>
<%= form_tag "schoolssearch", :method => 'get' do %>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
<% end %>  

<div class="btn btn-large" id="schoolbutton">
<%= link_to "Add a New School", schools_path %>
</div>
</div>

<div id="studentsearch">
<h3>Search for a Student</h3>
<%= form_tag "studentssearch", :method => 'get' do %>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
<% end %> 

<div class="btn btn-large">
<%= link_to "Add a New Student", students_path %>
</div>
</div>
