<!DOCTYPE html>

<html>
<head>
<title>Index</title>
</head>

<body>
  <div id="header">
    <ul class="accessibility">
      <li><a href="#navigation">Jump to Navigation</a></li>
    </ul>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'School Directory', schools_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Student Directory', students_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Reports" %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Logout", logout_path %></li>
          <li class="divider-vertical"></li>
         <div id="userlogin"> <li><%= session[:username] %></li></div>
        </ul>      
      </div>
    </div>
  </div>

   <h4>Run a Report for a School</h4>
    <%= form_tag "reportstudentbyschool", :method => 'get' do %>  
        <%= text_field_tag :search, params[:search] %>  
        <%= submit_tag "Search", :name => nil, :class=>'btn' %>  
    <% end %>  

   <h4>Run a Report by Age</h4>
   <h5>Please enter year of birth</h5>
    <%= form_tag "reportstudentbyage", :method => 'get' do %>  
        <%= text_field_tag :search, params[:search] %>  
        <%= submit_tag "Search", :name => nil, :class=>'btn' %>  
    <% end %>  







</body>
</html>
