  <div id="header">
    <ul class="accessibility">
      <li><a href="#navigation">Jump to Navigation</a></li>
    </ul>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'School Directory', schools_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Student Directory', students_path %></li>
        </ul>      
      </div>
    </div>
  </div>

<div id="page">
<div id="new">
<h1><blockquote>
New School
</blockquote></h1>
</div>


<div id="newbutton" class="btn-group">
<div class="btn">
<%= link_to 'Show', @school %>
</div>
<div class="btn">
<%= link_to 'Back', schools_path %>
</div>
</div>

<%= render 'form' %>

</div>
