<p id="notice"><%= notice %></p>

<p>
  <b>School Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Address:</b>
  <%= @school.street %>
</p>

<p>
  <b>City:</b>
  <%= @school.city %>
</p>

<p>
  <b>State:</b>
  <%= @school.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @school.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @school.phone %>
</p>

<p>
  <b>Social Worker:</b>
  <%= @school.ssw %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
